{{define "title"}}edit {{.Blueprint.Name}} - tahini{{end}}
{{define "content"}}
<h1>edit blueprint: {{.Blueprint.Name}}</h1>
{{if .Error}}<div class="alert alert-error">{{.Error}}</div>{{end}}
<form method="post" action="/blueprints/{{.Blueprint.ID}}/update" style="max-width:860px">
  <div class="form-row">
    <label for="name">name</label>
    <input type="text" id="name" name="name" value="{{.Blueprint.Name}}" required>
  </div>
  <div class="form-row">
    <label for="description">description</label>
    <label class="sub">optional</label>
    <input type="text" id="description" name="description" value="{{.Blueprint.Description}}">
  </div>
  <div class="form-row">
    <label for="git_url">git raw URL</label>
    <label class="sub">optional. HCL is fetched from this URL when you click sync.</label>
    <input type="text" id="git_url" name="git_url" value="{{.Blueprint.GitURL}}" style="width:600px">
  </div>
  <div class="form-row">
    <label for="hcl">opentofu blueprint (HCL)</label>
    <textarea id="hcl" name="hcl" rows="28" required spellcheck="false">{{.Blueprint.HCL}}</textarea>
  </div>
  <div class="form-row" style="margin-top:1rem">
    <button type="submit" class="btn-primary">save changes</button>
    <a href="/blueprints/{{.Blueprint.ID}}" class="btn" style="margin-left:0.5rem">cancel</a>
  </div>
</form>
{{end}}
